@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
  --primary: #0070c5;
}
body{
   font-family: "Oswald", sans-serif;
   overflow-x: hidden;
}
.heading::before{
  content: "";
  position: absolute;
}
@keyframes bdt-kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.bdt-animation-kenburns {
  animation: bdt-kenburns 15s ease-in-out infinite alternate;
}
/* sun animation why choose  */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* arrow animation */
@keyframes moveBackForth {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px); /* how far it moves */
  }
}




